body {
  background-color: #e0dfec;
  font-family: "ABeeZee", sans-serif;
}
h1,
h2 {
  margin-bottom: 0px;
  margin-left: 5px;
}
#row1 {
  margin-top: 10%;
}
#row2 {
  margin-top: 15%;
}

.radius {
  border-radius: 0.8em;
  background-color: white;
}

.inactive {
  color: green;
  text-decoration: none;
  font-weight: bold;
  margin-left: 5%;
}
