@import '../../App.css';

footer {
    background-color: var(--bg-secondary);
    font-family: 'ABeeZee', sans-serif;
}

.page-footer {
    padding: 3vmin 0;
}

.footer-group-box {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2vmin;
}

.footer-group-info {
    margin: 1vmin 0;
    width: 80%;
}

.footer-group-info h3 {
    font-size: 2vmax;
}

.footer-group-info p {
    font-size: 1.3vmax;
}

.footer-about h3 {
    color: var(--text-color-primary);
    margin: 2vmin 0;
    font-weight: bold;
}

.footer-about-card {
    color: var(--text-color-primary);
}

.footer-about-box {
    margin: 2vmin 0;
    padding: 0 3vmin ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-about-img {
    background-color: var(--text-color-secondary);
    border-radius: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2vmin 0;
    width: 10vmax;
    height: 10vmax;
}

.footer-about-info h4 {
    font-size: 1.7vmax;
    font-weight: bold;
}

@media screen and (max-width: 767px) {
    .footer-group-box {
        flex-direction: row;
        align-items: center;
    }
    
    .footer-group-img {
        flex: 2 1;
        padding: 0 4vmin;
    }

    .footer-group-img img {
        width: 100%;
    }

    .footer-group-info {
        flex: 4 1;
        padding: 0 2vmin;
    }

    .footer-group-info h3 {
        font-size: 4.5vmin;
    }
    
    .footer-group-info p {
        font-size: 3vmin;
    }

    .footer-about-box {
        margin: 2vmin 0;
        padding: 0;
    }

    .footer-about-img {
        width: 15vmax;
        height: 15vmax;    
    }

    .footer-about-info h4 {
        font-size: 2.5vmax;
        font-weight: bold;
    }
}


@media screen and (max-width: 575px) {
    .footer-about-img {
        width: 10vmax;
        height: 10vmax;    
    }
}